**Make sure to have a copy of the database file, "world-db", downloaded and in this directory for the below to work!**

In [1]:
jupyter kernelspec list

SyntaxError: invalid syntax (3627058317.py, line 1)

In [ ]:
%load_ext sql
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
%sql sqlite:///world-db

:

In [ ]:
%sql SELECT sql FROM sqlite_master;

:

**Exercise #1**: write a query that returns the countries that gained independence after 1989, along with the year they gained independence.

In [13]:
%%sql
SELECT Name, IndepYear
FROM Country
WHERE IndepYear >= '1990';

   sqlite:///./world-db
 * sqlite:///world-db
Done.

[('Armenia', 1991),
 ('Azerbaijan', 1991),
 ('Bosnia and Herzegovina', 1992),
 ('Belarus', 1991),
 ('Czech Republic', 1993),
 ('Eritrea', 1993),
 ('Estonia', 1991),
 ('Micronesia, Federated States of', 1990),
 ('Georgia', 1991),
 ('Croatia', 1991),
 ('Kazakstan', 1991),
 ('Kyrgyzstan', 1991),
 ('Lithuania', 1991),
 ('Latvia', 1991),
 ('Moldova', 1991),
 ('Marshall Islands', 1990),
 ('Macedonia', 1991),
 ('Namibia', 1990),
 ('Palau', 1994),
 ('Russian Federation', 1991),
 ('Slovakia', 1993),
 ('Slovenia', 1991),
 ('Tajikistan', 1991),
 ('Turkmenistan', 1991),
 ('Ukraine', 1991),
 ('Uzbekistan', 1991)]

**Exercise #2**: write a query that returns the two most populous cities in the US.

In [14]:
%%sql
SELECT Name, Population
FROM City
WHERE CountryCode = 'USA'
ORDER BY Population DESC
LIMIT 2;

   sqlite:///./world-db
 * sqlite:///world-db
Done.

[('New York', 8008278), ('Los Angeles', 3694820)]

**Exercise #3**: write a query that returns the countries that speak at least 50% Greek.

In [15]:
%%sql
SELECT C.Name
FROM Country C, CountryLanguage L
WHERE C.Code = L.CountryCode
AND L.Language = 'Greek'
AND L.Percentage >= 50 ;

   sqlite:///./world-db
 * sqlite:///world-db
Done.

[('Cyprus',), ('Greece',)]

**Exercise #4**: write a query that returns the district of the capital of USA.

In [16]:
%%sql
SELECT T.district
FROM Country C, City T
WHERE C.code = 'USA'
AND C.capital = T.id ;

   sqlite:///./world-db
 * sqlite:///world-db
Done.

[('District of Columbia',)]