**Make sure to have a copy of the database file, "world-db", downloaded and in this directory for the below to work!**

In [3]:
%load_ext sql
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
%sql sqlite:///./world-db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

The database `world` has 3 tables: 
> * `City`
> * `Country`
> * `CountryLanguage`

Recall that to find the schema of a table, we can type the following command:

In [4]:
%sql SELECT sql FROM sqlite_master ;

 * sqlite:///./world-db
Done.

[]

SINGLE-TABLE QUERIES
-------------------

Let's start with a simple query: what is the population of the USA?

In [ ]:
%%sql 
SELECT *
FROM Country 
WHERE Code = 'USA';

**Exercise #1**: write a query that returns the countries that gained independence after 1989, along with the year they gained independence.

To return all attributes of a table, we use the `*` in the SELECT clause. For instance, the following query returns all the attributes for cities with population over 1 million in the US.

In [ ]:
%%sql 
SELECT *
FROM City
WHERE Population >= 1000000 AND CountryCode = 'USA';

Keep in mind that for constants we need to use single quotes!

We can rename an attribute in the output schema by using the SQL command AS. For example:

In [ ]:
%%sql
select Name AS LargeUSACity, Population
FROM City
WHERE Population >= 1000000 AND CountryCode = 'USA';

It is possible to also perform arithmetic operations inside the SELECT clause. For example, to return the population in millions, we can use division.

In [ ]:
%%sql
SELECT Name, (Population / 1000000) AS Population
FROM City
WHERE Population >= 1000000 AND CountryCode = 'USA';

Observe that division here behaves as integer division. If we want to get a float value, we can rewrite the above query (similar to type casting):

In [ ]:
%%sql
SELECT Name, Population / 1000000.0
FROM City
WHERE Population >= 1000000 AND CountryCode = 'USA';

Let's do some pattern matching! Find the countries that have a form of goverment that contains the word monarchy

In [ ]:
%%sql
SELECT Name, GovernmentForm
FROM Country
WHERE GovernmentForm LIKE '%monarchy%';

Next, suppose that we want to find out all the different forms a government. Let's try the following:

In [ ]:
%%sql
SELECT GovernmentForm
FROM Country ;

The above query did not return the desired result, because it keeps a separate copy for each occurrence of the same value in the table. To remove the duplicates, we simply need to add the DISTINCT keyword.

In [ ]:
%%sql
SELECT DISTINCT GovernmentForm
FROM Country ;

We can use ORDER BY to order the city population by decreasing population.

In [ ]:
%%sql
SELECT Name, Population/1000000 AS Pop
FROM City
WHERE Population >= 1000000 AND CountryCode = 'USA'
ORDER BY Pop DESC
LIMIT 1;

LIMIT is very useful if we want to look at only a few rows of a table.

In [ ]:
%%sql
SELECT *
FROM City
LIMIT 1;

**Exercise #2**: write a query that returns the two most populous cities in the US.

MULTI-TABLE QUERIES
---------------------

What are the names of all countries that speak Greek? To answer this question, we need to combine information from two tables by *joining* them.

In [60]:
%%sql
SELECT Country.Name
FROM Country, CountryLanguage
WHERE Country.Code = CountryLanguage.CountryCode
AND CountryLanguage.Language = 'Greek';

   sqlite:///./world-db
 * sqlite:///world-db
Done.

[('Albania',), ('Australia',), ('Cyprus',), ('Germany',), ('Greece',)]

Notice how we need to specify the table that each attribute comes from. Another way to write the above query:

In [61]:
%%sql
SELECT DISTINCT Name
FROM Country C, CountryLanguage L
WHERE C.Code = L.CountryCode
AND L.Language = 'Greek' OR L.Language = 'English';

   sqlite:///./world-db
 * sqlite:///world-db
Done.

[('Aruba',),
 ('Afghanistan',),
 ('Angola',),
 ('Anguilla',),
 ('Albania',),
 ('Andorra',),
 ('Netherlands Antilles',),
 ('United Arab Emirates',),
 ('Argentina',),
 ('Armenia',),
 ('American Samoa',),
 ('Antarctica',),
 ('French Southern territories',),
 ('Antigua and Barbuda',),
 ('Australia',),
 ('Austria',),
 ('Azerbaijan',),
 ('Burundi',),
 ('Belgium',),
 ('Benin',),
 ('Burkina Faso',),
 ('Bangladesh',),
 ('Bulgaria',),
 ('Bahrain',),
 ('Bahamas',),
 ('Bosnia and Herzegovina',),
 ('Belarus',),
 ('Belize',),
 ('Bermuda',),
 ('Bolivia',),
 ('Brazil',),
 ('Barbados',),
 ('Brunei',),
 ('Bhutan',),
 ('Bouvet Island',),
 ('Botswana',),
 ('Central African Republic',),
 ('Canada',),
 ('Cocos (Keeling) Islands',),
 ('Switzerland',),
 ('Chile',),
 ('China',),
 ('C�te d�Ivoire',),
 ('Cameroon',),
 ('Congo, The Democratic Republic of the',),
 ('Congo',),
 ('Cook Islands',),
 ('Colombia',),
 ('Comoros',),
 ('Cape Verde',),
 ('Costa Rica',),
 ('Cuba',),
 ('Christmas Island',),
 ('Cayman Islands',),
 ('Cyprus',),
 ('Czech Republic',),
 ('Germany',),
 ('Djibouti',),
 ('Dominica',),
 ('Denmark',),
 ('Dominican Republic',),
 ('Algeria',),
 ('Ecuador',),
 ('Egypt',),
 ('Eritrea',),
 ('Western Sahara',),
 ('Spain',),
 ('Estonia',),
 ('Ethiopia',),
 ('Finland',),
 ('Fiji Islands',),
 ('Falkland Islands',),
 ('France',),
 ('Faroe Islands',),
 ('Micronesia, Federated States of',),
 ('Gabon',),
 ('United Kingdom',),
 ('Georgia',),
 ('Ghana',),
 ('Gibraltar',),
 ('Guinea',),
 ('Guadeloupe',),
 ('Gambia',),
 ('Guinea-Bissau',),
 ('Equatorial Guinea',),
 ('Greece',),
 ('Grenada',),
 ('Greenland',),
 ('Guatemala',),
 ('French Guiana',),
 ('Guam',),
 ('Guyana',),
 ('Hong Kong',),
 ('Heard Island and McDonald Islands',),
 ('Honduras',),
 ('Croatia',),
 ('Haiti',),
 ('Hungary',),
 ('Indonesia',),
 ('India',),
 ('British Indian Ocean Territory',),
 ('Ireland',),
 ('Iran',),
 ('Iraq',),
 ('Iceland',),
 ('Israel',),
 ('Italy',),
 ('Jamaica',),
 ('Jordan',),
 ('Japan',),
 ('Kazakstan',),
 ('Kenya',),
 ('Kyrgyzstan',),
 ('Cambodia',),
 ('Kiribati',),
 ('Saint Kitts and Nevis',),
 ('South Korea',),
 ('Kuwait',),
 ('Laos',),
 ('Lebanon',),
 ('Liberia',),
 ('Libyan Arab Jamahiriya',),
 ('Saint Lucia',),
 ('Liechtenstein',),
 ('Sri Lanka',),
 ('Lesotho',),
 ('Lithuania',),
 ('Luxembourg',),
 ('Latvia',),
 ('Macao',),
 ('Morocco',),
 ('Monaco',),
 ('Moldova',),
 ('Madagascar',),
 ('Maldives',),
 ('Mexico',),
 ('Marshall Islands',),
 ('Macedonia',),
 ('Mali',),
 ('Malta',),
 ('Myanmar',),
 ('Mongolia',),
 ('Northern Mariana Islands',),
 ('Mozambique',),
 ('Mauritania',),
 ('Montserrat',),
 ('Martinique',),
 ('Mauritius',),
 ('Malawi',),
 ('Malaysia',),
 ('Mayotte',),
 ('Namibia',),
 ('New Caledonia',),
 ('Niger',),
 ('Norfolk Island',),
 ('Nigeria',),
 ('Nicaragua',),
 ('Niue',),
 ('Netherlands',),
 ('Norway',),
 ('Nepal',),
 ('Nauru',),
 ('New Zealand',),
 ('Oman',),
 ('Pakistan',),
 ('Panama',),
 ('Pitcairn',),
 ('Peru',),
 ('Philippines',),
 ('Palau',),
 ('Papua New Guinea',),
 ('Poland',),
 ('Puerto Rico',),
 ('North Korea',),
 ('Portugal',),
 ('Paraguay',),
 ('Palestine',),
 ('French Polynesia',),
 ('Qatar',),
 ('R�union',),
 ('Romania',),
 ('Russian Federation',),
 ('Rwanda',),
 ('Saudi Arabia',),
 ('Sudan',),
 ('Senegal',),
 ('Singapore',),
 ('South Georgia and the South Sandwich Islands',),
 ('Saint Helena',),
 ('Svalbard and Jan Mayen',),
 ('Solomon Islands',),
 ('Sierra Leone',),
 ('El Salvador',),
 ('San Marino',),
 ('Somalia',),
 ('Saint Pierre and Miquelon',),
 ('Sao Tome and Principe',),
 ('Suriname',),
 ('Slovakia',),
 ('Slovenia',),
 ('Sweden',),
 ('Swaziland',),
 ('Seychelles',),
 ('Syria',),
 ('Turks and Caicos Islands',),
 ('Chad',),
 ('Togo',),
 ('Thailand',),
 ('Tajikistan',),
 ('Tokelau',),
 ('Turkmenistan',),
 ('East Timor',),
 ('Tonga',),
 ('Trinidad and Tobago',),
 ('Tunisia',),
 ('Turkey',),
 ('Tuvalu',),
 ('Taiwan',),
 ('Tanzania',),
 ('Uganda',),
 ('Ukraine',),
 ('United States Minor Outlying Islands',),
 ('Uruguay',),
 ('United States',),
 ('Uzbekistan',),
 ('Holy See (Vatican City State)',),
 ('Saint Vincent and the Grenadines',),
 ('Venezuela',),
 ('Virgin Islands, British',),
 ('Virgin Islands, U.S.',),
 ('Vietnam',),
 ('Vanuatu',),
 ('Wallis and Futuna',),
 ('Samoa',),
 ('Yemen',),
 ('Yugoslavia',),
 ('South Africa',),
 ('Zambia',),
 ('Zimbabwe',)]

**Exercise #3**: write a query that returns the countries that speak at least 50% Greek.

In [65]:
%%sql
SELECT C.Name, L.Language, L.percentage
FROM Country C, CountryLanguage L
WHERE C.Code = L.CountryCode
AND L.Language = 'Greek'
AND L.Percentage >= 50 ;

   sqlite:///./world-db
 * sqlite:///world-db
Done.

[('Cyprus', 'Greek', 74.1), ('Greece', 'Greek', 98.5)]

**Exercise #4**: write a query that returns the district of the capital of USA.

In [66]:
%%sql
SELECT T.district
FROM Country C, City T
WHERE C.code = 'USA'
AND C.capital = T.id ;

   sqlite:///./world-db
 * sqlite:///world-db
Done.

[('District of Columbia',)]

In [62]:
%%sql
SELECT * FROM CountryLanguage
LIMIT 10 ;

   sqlite:///./world-db
 * sqlite:///world-db
Done.

[('ABW', 'Dutch', 'T', 5.3),
 ('ABW', 'English', 'F', 9.5),
 ('ABW', 'Papiamento', 'F', 76.7),
 ('ABW', 'Spanish', 'F', 7.4),
 ('AFG', 'Balochi', 'F', 0.9),
 ('AFG', 'Dari', 'T', 32.1),
 ('AFG', 'Pashto', 'T', 52.4),
 ('AFG', 'Turkmenian', 'F', 1.9),
 ('AFG', 'Uzbek', 'F', 8.8),
 ('AGO', 'Ambo', 'F', 2.4)]

Next, we want to return the countries that speak both Greek and English.

In [69]:
%%sql
SELECT C.Name
FROM Country C, CountryLanguage L1, CountryLanguage L2
WHERE C.Code = L1.CountryCode
AND C.Code = L2.CountryCode
AND L1.Language = 'Greek'
AND L2.Language = 'English';

   sqlite:///./world-db
 * sqlite:///world-db
Done.

[('Australia',)]

Alternatively, we can write the above query using INTERSECT.

In [68]:
%%sql
SELECT C.Name
FROM Country C, CountryLanguage L
WHERE C.Code = L.CountryCode
AND L.Language = 'Greek'
INTERSECT
SELECT C.Name
FROM Country C, CountryLanguage L
WHERE C.Code = L.CountryCode
AND L.Language = 'English' ;

   sqlite:///./world-db
 * sqlite:///world-db
Done.

[('Australia',)]

Which countries have population more than 100 million and do not speak English?

In [67]:
%%sql
SELECT C.Name
FROM Country C
WHERE C.Population >= 100000000
EXCEPT
SELECT C.Name
FROM Country C, CountryLanguage L
WHERE C.Code = L.CountryCode
AND L.Language = 'English' ;

   sqlite:///./world-db
 * sqlite:///world-db
Done.

[('Bangladesh',),
 ('Brazil',),
 ('China',),
 ('India',),
 ('Indonesia',),
 ('Nigeria',),
 ('Pakistan',),
 ('Russian Federation',)]