In [1]:
%load_ext sql
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [2]:
%sql sqlite:///auction.db

### 1. Find the number of users in the database. (13422)

In [3]:
%%sql 
SELECT COUNT(Users.UserID)
FROM Users;

 * sqlite:///auction.db
Done.

[(13422,)]

### 2. Find the number of users from New York (i.e., users whose location is the string "New York").
###    (80)

In [4]:
%%sql
SELECT COUNT(*)
FROM Users WHERE Location ='New York';

 * sqlite:///auction.db
Done.

[(80,)]

### 3. Find the number of auctions belonging to exactly four categories. (8365)

In [5]:
%%sql
SELECT COUNT(*) 
FROM (
    SELECT ItemID, COUNT(DISTINCT Cat) AS c_count
    FROM Categories
    GROUP BY ItemID
    HAVING c_count = 4
) AS Cat_count;

 * sqlite:///auction.db
Done.

[(8365,)]

### 4. Find the ID(s) of auction(s) with the highest current price. (1046871451)

In [6]:
%%sql
SELECT ItemID
FROM (
    SELECT I.ItemID, MAX(CAST(I.Currently AS NUMBER))
    FROM Items I
);

 * sqlite:///auction.db
Done.

[(1046871451,)]

### 5. Find the number of sellers whose rating is higher than 1000. (3130)

In [7]:
%%sql 
WITH Seller_only As (
    SELECT DISTINCT U.UserID, U.Rating
    FROM Users U
    JOIN Items I ON U.UserID = I.SellerID
    WHERE U.Location IS NOT NULL AND U.Country IS NOT NULL
)
SELECT COUNT(*)
FROM Seller_only 
WHERE Seller_only.Rating > 1000;

 * sqlite:///auction.db
Done.

[(3130,)]

### 6. Find the number of users who are both sellers and bidders. (6717)

In [8]:
%%sql
WITH s_and_b AS (
    SELECT DISTINCT I.SellerID
    FROM Items I
    JOIN Bids B ON I.SellerID = B.BidderID
)

SELECT COUNT(*)
FROM s_and_b

 * sqlite:///auction.db
Done.

[(6717,)]

### 7. Find the number of categories that include at least one item with a bid of more than $100. (150)

In [9]:
%%sql
DROP VIEW IF EXISTS Bids_100;
CREATE VIEW Bids_100 AS
SELECT ItemID, Amount FROM Bids WHERE CAST(Bids.Amount AS NUMBER)>100;

SELECT COUNT(DISTINCT C.Cat)
FROM Categories C
JOIN Bids_100 ON C.ItemID = Bids_100.ItemID

 * sqlite:///auction.db
Done.
Done.
Done.

[(150,)]